<!DOCTYPE html>
<html>
    <head>
        <title>Profil</title> 
    </head>
<body>
    <h1>Hello <%= name %> i have <%= age %> years old</h1>
    <a href="/">home</a>
    <br>
    <a href="/about">About</a>
    <br>
    <a href="/out">Log out</a>
</body>
</html>
 